a {
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  background-color: transparent;
  cursor: pointer;
}